Connected Services/ServiceReference1/miservicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="presionHarterial">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="edad" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sistolica" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="diastolica" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="presionHarterialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="presionHarterialResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="presionHarterialSoapIn">
    <wsdl:part name="parameters" element="tns:presionHarterial" />
  </wsdl:message>
  <wsdl:message name="presionHarterialSoapOut">
    <wsdl:part name="parameters" element="tns:presionHarterialResponse" />
  </wsdl:message>
  <wsdl:portType name="miservicioSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="presionHarterial">
      <wsdl:input message="tns:presionHarterialSoapIn" />
      <wsdl:output message="tns:presionHarterialSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="miservicioSoap" type="tns:miservicioSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="presionHarterial">
      <soap:operation soapAction="http://tempuri.org/presionHarterial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="miservicioSoap12" type="tns:miservicioSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="presionHarterial">
      <soap12:operation soapAction="http://tempuri.org/presionHarterial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="miservicio">
    <wsdl:port name="miservicioSoap" binding="tns:miservicioSoap">
      <soap:address location="https://localhost:44300/miservicio.asmx" />
    </wsdl:port>
    <wsdl:port name="miservicioSoap12" binding="tns:miservicioSoap12">
      <soap12:address location="https://localhost:44300/miservicio.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>